.top
{
position: fixed;
bottom: 10px;
right: 10px;
background: rgba(37, 133, 37, 0.3);
padding: 10px;
}
body {
    background-color: rgb(253, 176, 249);
    font-family: "Gangshrift";
    
  }
  a {
    text-decoration: none;
    color: black;
  }
  header a{
    color: white;
  }
  
  h1 {
    font-size: 24px;
    text-align: center;
  }
  
  h2 {
    font-size: 20px;
    
    
  }
  
  h3 {
    font-size: 18px;
  }
  
  p {
    font-size: 16px;
  }
  
  img {
    width: 400px;
  }

  ul{
    background: rgb(218, 75, 218);
    text-align: center;
    list-style-type: none;
    
  }
  li{
    padding: 5 px;
    text-align: center;
  
  }
  ol {
    list-style-type: none;
  }
  
  
  @font-face {
    font-family: "Gangshrift";
    src: url(../font/Oswald-VariableFont_wght.ttf);
  }
  .pr4_img
  {
   width:auto;
  }
  .photo {
    width: 150px;
    height: 300px;

  }
  .sekas {
    display: flex;
    flex-wrap:wrap ;
    gap: 30px;
    justify-content: center;
    display: flex;

  }
  .navik {
    display: flex;
    flex-wrap: wrap;
     justify-content: center;
  }
.dei {
  display: flex;
  justify-content: center;
  gap: 365px;
}

.containerg{
  display: flex;
}
.containerg main{
  width: 70%;
}
.containerg aside{
  width: 30%;
}
 
